MONGO_INITDB_ROOT_USERNAME=mongo_root_user
MONGO_INITDB_ROOT_PASSWORD=mongo_root_password
MONGO_INITDB_DATABASE=hr-core

HR_CORE_ACTIVE_SLOT=blue

APIFY_TOKEN=apify_api_token
APIFY_ACTOR_ID=apify~web-scraper

OPENAI_API_KEY=sk-proj-secret-key
OPENAI_MODEL=gpt-5.2

GOV_CY_HOTELS_PAGE_URL=https://www.gov.cy/tourism/en/documents/hotels-and-other-tourist-establishments-list/
PDF_STORAGE_DIRECTORY_PATH=/opt/hr-core/data/files
PDF_DOWNLOAD_TIMEOUT_MS=90000
OPENAI_RESPONSES_TIMEOUT_MS=360000
GOV_CY_PDF_PARSING_CACHE_TIME_MS=43200000
